*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background-color: rgb(19, 18, 18);
    
}

h1{
    text-align: center;
    color: rgb(226, 213, 24);
}

li{
    text-align: center;
    margin-top: 15%;
}

a{
    color: blueviolet;
    text-decoration: none;
}

a:hover{
    color: #c518e7;
    font-weight: bold;
}



